/* lightTheme.css */
.app.light {
  background-color: #ffffff;
  color: #000000;
}

.theme-toggle {
  background-color: #007bff;
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
}

.resume {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.resume-section {
  margin-bottom: 20px;
}

.print-button {
  background-color: #007bff;
  color: #fff;
  margin-bottom: 10px;
  float: right;
}

li {
  list-style: none;
  margin: 10px 0;
}

li button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
}

  